* {
  margin: 0;
  padding: 0;
}

.title {
  background: rgb(121, 242, 157);
}

.topHead {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  // background: #000E2B;
  z-index: 35;
  color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/images/header.png) no-repeat center top;
  background-size: 100% 100%;
}

.statics {
  top: 64px;
  bottom: 20px;
  padding: 20px 0;
  margin: 0;
  position: absolute;
  z-index: 40;
  display: flex;
}

.newStatics {
  display: flex;
  justify-content: space-between;
  // margin-top: 64px;
}
